.super-mario {
  width: 200px;
  position: absolute;
  left: 600px;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 650px;
  top: 390px;
}

.baloon {
  position: absolute;
  left: 20px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 117px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 260px;
  left: 300px;
}